body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff0f5;
}

/* HEADER */
header {
    background: linear-gradient(45deg, #ff4d6d, #ff758f);
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px;
}

.btn {
    background: #ff4d6d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* PRODUCTS GRID */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 15px;
    width: 220px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* BUTTON */
button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e63950;
}

/* FORM */
input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}